{% include base_path %}
{% assign is_zh = false %}
{% if page.lang == "zh-CN" %}
  {% assign is_zh = true %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% if is_zh %}
            <li class="masthead__menu-item"><a href="{{ base_path }}/zh/#about-me">关于我</a></li>
            <li class="masthead__menu-item"><a href="{{ base_path }}/zh/#publications">代表性成果</a></li>
            <li class="masthead__menu-item"><a href="{{ base_path }}/zh/#education">教育经历</a></li>
            <li class="masthead__menu-item"><a href="{{ base_path }}/zh/#academic-service">学术服务</a></li>
            <li class="masthead__menu-item"><a href="{{ base_path }}/zh/#open-source-projects">开源项目</a></li>
            <li class="masthead__menu-item"><a href="{{ base_path }}/zh/#awards">奖励荣誉</a></li>
            <li class="masthead__menu-item"><a href="{{ base_path }}/">English</a></li>
          {% else %}
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            <li class="masthead__menu-item"><a href="{{ base_path }}/zh/">中文</a></li>
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
